---
site: Pet Photos
text: Enjoy the gallery of photos we have for you!
photo_location_name: true
---
<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">

</head>
<body style="background-color:{{color_keyword}};">
    {% include header.html %}
    <h1>{{ site }}</h1>
    <h2>{{ text }} <h2>


    {% unless page.url == '/' %}

    {% endunless %}

    {{ content }}

    {% for photo in collections.photos %}


    {% endfor %}

    <ul>
        {% for photo in collections.photos %}
            <li>
                <a href="{{ photo.url }}">
                    A {{ photo.data.photo_keyword }} photo
                    by {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }}
                </a>
            </li>

            This photo is taken
              by {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }}

          <br>

          {% if photo.data.photo_location_name %}
            Location:
              {{ photo.data.photo_location_name}}
          {%endif%}


      <br>

      This beautiful country of {{ photo.data.photo_location_country}} 
    <br>

        {% endfor %}
    </ul>





</body>
